.product {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.product__title {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product__price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #3a3a3a;
  color: white;
  font-size: 1.5rem;
}

.product__image {
  height: 100px;
  width: fit-content;
}

.product__buttons {
  display: flex;
  justify-content: flex-end;
}
