.button {
  border-radius: 30px;
  border: solid 3px #da291c;
  padding: 0.15rem 1.5rem;
  background-color: white;
  color: #3a3a3a;
  font-size: 1.2rem;
  margin: 0.5rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #da291c;
  border-color: #da291c;
  color: white;
  cursor: pointer;
}

.button:active {
  transform: translateY(-5px);
}

@media only screen and (max-width: 800px) {
  .button {
    font-size: 1rem;
    padding: 0.15rem 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .button {
    font-size: 1rem;
    padding: 0.15rem 1rem;
  }
}
