.cart-btn {
  background-color: transparent;
  border-color: #da291c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn:hover,
.cart-btn:active {
  color: white;
}

.cart-btn span {
  margin: 0 0.5rem;
  text-transform: uppercase;
  line-height: 1.5;
  color: white;
}

.cart-btn__icon {
  height: 20px;
  width: 20px;
}

.cart-btn__badge {
  background-color: #da291c;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: white;
}
