.cart-item {
  width: 100%;
  margin: 1rem 0;
  background-color: #575757;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem__header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 2%;
}

.cartItem__heading {
  margin: 0 0 0.5rem 0;
  font-size: 1.3rem;
}

.cartItem__quantity {
  font-size: 1.2rem;
  font-weight: bold;
}

.cartItem__totalPrice {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2%;
}

.cartItem__price {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.cartItem__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.cartItem__button {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: white;
}

.cartItem__button:hover,
.acartItem__button:active {
  background-color: #4b4b4b;
  color: white;
}
