.cart {
  height: 100%;
  width: 100%;
  background-color: #313131;
  color: white;
  margin: 1rem auto;
  border-radius: 6px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.cart__heading {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  text-align: center;
}

.cart__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.cart__close,
.cart__close:link,
.cart__close:visited {
  color: white;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}

.cart__close:hover {
  color:  #DA291C;
  cursor: pointer;
}

.cart__icon {
  margin-left: 1.5%;
}
